{% load i18n %}
<form class="form" action="#message" method="post">{% csrf_token %}
    <div class="control-group">
    	{% if form.errors %}
        <div class="alert alert-danger">{% trans "There has been an error in sending your message. Please complete all the fields below." %}</div>
        {% endif %}
        {% if success %}<div class="alert alert-success">{% trans "Thank you for your message. We will get back to you shortly." %}</div>{% endif %}
    </div>
    {% if not success %}
    <div class="control-group {% if form.name.errors %}error{% endif %}">
    	{% if form.name.errors %}<div class="alert alert-danger">{% for error in form.name.errors %}{{error}}<br>{% endfor %}</div>{% endif %}
        <label class="control-label" for="inputName">{{form.name.label}}</label>
        <div class="controls">
            {{form.name}}
        </div>
    </div>
    <div class="control-group {% if form.email.errors %}error{% endif %}">
    	{% if form.email.errors %}<div class="alert alert-danger">{% for error in form.email.errors %}{{error}}<br>{% endfor %}</div>{% endif %}
        <label class="control-label" for="inputEmail">{{form.email.label}}</label>
        <div class="controls">
            {{form.email}}
        </div>
    </div>
    <div class="control-group {% if form.tel.errors %}error{% endif %}">
    	{% if form.tel.errors %}<div class="alert alert-danger">{% for error in form.tel.errors %}{{error}}<br>{% endfor %}</div>{% endif %}
        <label class="control-label" for="inputTel">{{form.tel.label}}</label>
        <div class="controls">
            {{form.tel}}
        </div>
    </div>
    <div class="control-group {% if form.message.errors %}error{% endif %}">
    	{% if form.message.errors %}<div class="alert alert-danger">{% for error in form.message.errors %}{{error}}<br>{% endfor %}</div>{% endif %}
        <label class="control-label" for="inputMsg">{{form.message.label}}</label>
        <div class="controls">
            {{form.message}}
        </div>
    </div>
     <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">{% trans "Send" %}</button>
        </div>
    </div>
    {% endif %}
</form>